<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Wizytówka Tomasza</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>To moja pierwsza strona internetowa</h1>
        <h2>Zapraszam do odwiedzenia tej pasjonującej storny o kotełach</h2>
        <img src="https://d-pt.ppstatic.pl/k/r/1/e5/b1/5301e93b2b8b2_p.jpg?1404173166" alt="Oto jest koteł" title="Koteł1" width=400>
        <p>Czym są koteły, gdzie zmierzają? Nikt nie wie, piszę to tylko po to, żeby otagować coś jako akapit.</p>
        <h2>Co lubią robić koteły?</h2>
        <ul>
            <li>Spać</li>
            <li>Żryć kwiatki</li>
            <li>Zrzucać rzeczy z parapetu</li>
        </ul>
        <h3>Kolejność dnia u koteła:</h3>
        <ol>
            <li>Spanie</li>
            <li>Żarcie kwiatka</li>
            <li>Znowu spanie</li>
            <li>I tak cały czas</li>
        </ol>

    </body>
</html>