<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Wizytówka Tomasza 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <h1>Jak skontaktować sie z kotełem?</h1>
    <img src="https://www.humanesociety.org/sites/default/files/styles/1240x698/public/2018/06/cat-217679.jpg?h=c4ed616d&itok=3qHaqQ56" alt="Oto jest koteł2" title="Koteł2" width="400">
    <p>Kontakt z kotełem jest bardzo prosty. Poniżej znajdziesz 3 sposoby na kontakt z kotełem.</p>
    <h2>Kontakt tradycyjny</h2>
    <ul>
        <li>e-mail: koteł@kotkikotki.org</li>
        <li>telefon: 123-456-789</li>
        <li>adres: nieznany</li>
    </ul>
    <h2>Kontakt nowoczesny</h2>
    <textarea id="123" name="Kontakt" rows="4" cols="50">
       Tu wpisz wiadomość do koteła
    </textarea>
    <<form action="https://media.istockphoto.com/vectors/business-people-teamwork-cartoon-character-said-great-job-great-and-vector-id998311126">
        <input type="submit" value="Wyślij">
      </form> 
      
      <p>Jeśli wyślesz wiadomość do koteła, czeka Cię niespodzianka.</p>

